<!-- templates/add_service.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="mb-4">Ajouter un Service</h1>
<form method="post">
    {% csrf_token %}
    
    <!-- Section Code du Service -->
    <div class="mb-3">
        <label for="code" class="form-label">Code du Service</label>
        <input type="text" class="form-control" id="code" name="code" required>
    </div>

    <!-- Section Description -->
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
    </div>

    <!-- Section Actif -->
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="is_active" name="is_active">
        <label class="form-check-label" for="is_active">Actif</label>
    </div>

    <!-- Bouton de soumission -->
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
{% endblock %}